*.pyc
graphs
images
__pycache__

!graphs/EnergyGame_2021-12-19-00-16-42.bin
!graphs/EnergyGame_2021-12-19-01-54-53.bin
!graphs/EnergyGame_2021-12-19-16-32-02.bin
!graphs/EnergyGame_2021-12-19-19-39-53.bin
test.py
mpg_n.py
dpg_n.py
